@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Regular'), url('Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Semi Bold'), url('Inter-SemiBold.woff') format('woff');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Inter Regular';
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

.semi-bold {
    font-family: 'Inter Semi Bold';
}

.border-right {
    border-right: 1px solid #DDD;
}

.btn-transparent {
    font-size: inherit;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2px;
}

.landing {
    font-size: 1vh;
}

@media (max-width: 185vh) {
  .landing {
    font-size: 0.77vh;
  }
}

@media (max-width: 140vh) {
  .landing {
    font-size: 0.65vh;
  }
}

@media (max-width: 90vh) {
  .landing {
    font-size: 0.6vh;
  }
}

@media (max-width: 70vh) {
  .landing {
    font-size: 0.5vh;
  }
}