@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Regular'), url('Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Semi Bold'), url('Inter-SemiBold.woff') format('woff');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Inter Regular';
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

h2 {
    color: #0a0;
}

.semi-bold {
    font-family: 'Inter Semi Bold';
}

.border-right {
    border-right: 1px solid #DDD;
}

.btn-transparent {
    font-size: inherit;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin-bottom: 2px;
}

.landing {
    font-size: 1vh;
}

@media (max-width: 185vh) {
  .landing {
    font-size: 0.77vh;
  }
}

@media (max-width: 140vh) {
  .landing {
    font-size: 0.65vh;
  }
}

@media (max-width: 90vh) {
  .landing {
    font-size: 0.6vh;
  }
}

@media (max-width: 70vh) {
  .landing {
    font-size: 0.5vh;
  }
}

/* Bootstrap Toggle v2.2.2 corrections for Bootstrap 4. See
   https://github.com/minhur/bootstrap-toggle/issues/186 */
.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}
