@font-face {
    font-family: 'Inter Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Regular'), url('Inter-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Inter Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Semi Bold'), url('Inter-SemiBold.woff') format('woff');
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Inter Regular';
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}

.semi-bold {
    font-family: 'Inter Semi Bold';
}

.border-right {
    border-right: 1px solid #DDD;
}